<section class="container products-section">
    <div class="row">
        <div class="col-12">
            <h1>{{section_title|title}}</h1>
        </div>
    </div>
    <div class="row">
        {% for product in products%}
        <div class="col-12 col-md-4">
            <div class="card product-card">
                <a href={% url 'product-url' product.id%}>
                    <img src={{product.image}} alt="" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>{{product.name | upper}}</h4>
                        </div>
                        <hr>
                        <div class="card-text">
                            <p class='product-card-description'>{{product.description}}</p>
                            <strong>
                                <p> EGP
                                    {% load humanize %}
                                    {{product.price | intcomma}}
                                </p>
                            </strong>
                        </div>
                    </div>
                </a>
            </div>
            <!--end of card-->
        </div>
        {% endfor %}
    </div>
</section>